main {
  padding-right: 87px;
  padding-left: 87px;
  .bg_wr {
    padding-top: 234px;
    position: relative;
    height: 1000px;
    .bg_wr_h1 {
      display: flex;
      justify-content: center;
      h1 {
        position: absolute;
        top: -150px;
        color: #8d8d8d;
        font-family: "Nympha Trial";
        font-size: 220px;
        font-weight: 400;
        line-height: 259px;
        text-align: center;
        z-index: 1;
      }
    }
    .bg_wr_img {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
    }
  }
  .two_img {
    height: 1446px;
    padding-top: 279px;
    .five {
      display: flex;
      justify-content: flex-end;
    }
    .six {
      position: relative;
      top: -400px;
    }
  }
  .seven {
    display: flex;
    justify-content: flex-end;
  }
}
